body, .content td, .content th {
    font-family: Georgia;
    font-weight: 400;
    font-size: 12pt;
    background-color: White;
    margin: 12px;
}

#master {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: none;
    line-height: 1.4em;
    padding-left: 36px;
    padding-right: 36px;
}

.headerlogo {
    position: relative;
    top: -14px;
    float: right;
}

.header {
    line-height: normal;
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid black;
    text-align: left;
}
